* {
    margin: 0;
    padding: 0;
}

body {
 width: 100%;
 height: 100vh;
 background-image: url(./image.png);
 background-size: cover;
 background-position: center;
}

.tab {
    margin-top: 10px;
    margin-left: 10px;
    width: 650px;
}
.tab-nav {
    display: flex;
}
.tab-nav-item {
    margin-right: 3px;
    width: 150px;
    background: #FCECEA;
    color: #353434;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-weight: 550;
}
.tab-nav-item.is-active {
    background-color: #EE817B;
    color: #fff;
}
.tab-nav-item:hover {
    background-color: #f7b2ae;
}
.tab-contents {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #999
    padding: 30px;
}
.tab-contents-item {
    display: none;
    padding: 20px;
}
